// Custom.scss

// Include any default variable overrides here

$primary: rgb(204, 0, 0);
$gray: #E6E6E6;

$theme-colors: (
    "primary": $primary,
    "gray": $gray
);

// Create your own map
$custom-color: (
    'icon-background': rgba(204, 0, 0, .3)
);

//Merge maps
$theme-colors: map-merge($theme-colors , $custom-color );

$utilities: (
    "rounded": (
        property: border-radius,
        class: rounded,
        values: (
            null: 1rem,
            circle: 50%
        )
    )
);

// Utilities example code
// "rounded": (
//     property: border-radius,
//     class: rounded,
//     values: (
//     null: $border-radius,
//     0: 0,
//     1: $border-radius-sm,
//     2: $border-radius,
//     3: $border-radius-lg,
//     circle: 50%,
//     pill: $border-radius-pill
//     )
// ),

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here

/* ============= HEADER =============== */

.announcement-bar {
    font-size: 0.8rem;
    border-bottom: 1px solid var(--bs-gray);

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-flex;
        margin: 0 -10px;

        li {
            margin: 0 10px;
            display: flex;
            align-items: center;

            .bi {
                background-color: var(--bs-icon-background);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 6px;
            }
        }
    }

    @include media-breakpoint-down(lg){
        display: none;
    }
}

.site-header {
    .aws-search-field {
        font-size: 0.9rem;
        padding-left: 1.4rem;
        border-radius: 20px!important;
    }
}

/* ============= Main Menu =============== */
.main-navigation {
    font-weight: 500;

    .current-menu-item {
        background-color: rgb(228, 3, 3);
    }

    a {
        color: var(--bs-white);
        padding: 0.6rem 1.4rem;
    }
    
    a:hover {
        background-color: rgb(228, 3, 3);
    }

    .menu-toggle {
        background-color: $primary;
        color: $white;
        border: 0;
        font-weight: 600;


        .bi {
            margin-right: .6rem;
        }
    }
}