// Custom.scss

// Include any default variable overrides here

$primary: rgb(204, 0, 0);
$secondary: rgb(164, 13, 13);
$gray: #E6E6E6;
$yellow : #FAB400;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "gray": $gray,
    "yellow": $yellow
);

// Create your own map
$custom-color: (
    'icon-background': rgba(204, 0, 0, .3)
);

//Merge maps
$theme-colors: map-merge($theme-colors , $custom-color );

$utilities: (
    "rounded": (
        property: border-radius,
        class: rounded,
        values: (
            null: 1rem,
            circle: 50%
        )
    )
);

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here

/* ============= HEADER =============== */

.announcement-bar {
    font-size: 0.8rem;
    border-bottom: 1px solid var(--bs-gray);

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-flex;
        margin: 0 -10px;

        li {
            margin: 0 10px;
            display: flex;
            align-items: center;

            .bi {
                background-color: var(--bs-icon-background);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 6px;
            }
        }
    }

    @include media-breakpoint-down(lg){
        display: none;
    }
}

.site-header {
    .aws-search-field {
        font-size: 0.9rem;
        padding-left: 1.4rem;
        border-radius: 20px!important;
    }

    &__logo {
        img {
            max-width: 80%;
        }
    }
}

/* ============= Main Menu =============== */
.main-navigation {
    font-weight: 500;

    .current-menu-item {
        background-color: rgb(228, 3, 3);
    }

    a {
        color: var(--bs-white);
        padding: 0.6rem 1.4rem;
    }
    
    a:hover {
        background-color: rgb(228, 3, 3);
    }

    .menu-toggle {
        background-color: $primary;
        color: $white;
        border: 0;
        font-weight: 600;


        .bi {
            margin-right: .6rem;
        }
    }
}

/* ============= Front Page =============== */

.saphire-one-cta-col {
    background-color: var(--bs-secondary);
    color: var(--bs-white);
    padding: 30px;
}

/* ============= Slider =============== */
.carousel {
    .carousel-control-prev, .carousel-control-next {
        width: 4%;
    }
}

.hp-saphire-one-features {

    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    margin: 1.5rem 0;
    padding: 0;

    li {

        list-style-type: none;
        margin: 0;
        padding: .3rem 0;

        img.saphire-cta-icon {
            max-width: 32px;
            margin-right: .5rem;
        }
    }
    
    @media(max-width: 767px){
        align-items: center;
    }
}

.saphire-one-cta-col {

    h1 {
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
    }

    h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
    }

    .btn {
        margin: 0;
        background-color: var(--bs-yellow);
        color: var(--bs-white);
        width: 60%;
        font-size: 1.8;
        font-family: 'Open Sans', sans-serif;
        font-weight: 900;
    }

    .btn:hover {
        background-color: var(--bs-gray);
        color: var(--bs-secondary);
    }
    
    @media(max-width: 767px){
        text-align: center;
    }
}

.saphire-right-col-img {
    background-image: url('../img/saphire-one-img-col.webp');
    background-repeat: none;
    background-size: cover;

    @media(max-width: 991px){
        background-image: url('../img/saphire-one-img-col-md.jpg');
    }
    
    @media(max-width: 767px){
        background-image: none;
    }
}